.animated-gradient-shadow {
  position: relative;
  z-index: 1;
}

.animated-gradient-shadow::before {
  will-change: transform, filter;
  content: "";
  position: absolute;
  top: -10px;
  left: -5px;
  right: -5px;
  bottom: 30px;
  opacity: 60%;
  /* background: linear-gradient(
      90deg,
      #4395be 0%,
      #b650ef 29%,
      #f948a3 62%,
      #fe9748 100%
    ); */
  /* background: conic-gradient(from 50deg, red, green, blue, yellow); */
  background: conic-gradient(
    from 0deg,
    #42dcff 0deg 90deg,
    #ff615e 90deg 180deg,
    #ffb236 180deg 270deg,
    #fe43aa 270deg 360deg
  );
  border-radius: inherit;
  z-index: -2;
  filter: blur(120px);
  animation: rotateGradient 4s both infinite;
  background-blend-mode: lighten;
}

@media (max-width: 600px) {
  .animated-gradient-shadow::before {
    filter: blur(50px);
    background: none;
    /* bottom: 30px !important; */
  }
}
.animated-gradient-shadow::before {
  transform: translateZ(0);
}
@supports (-webkit-backdrop-filter: blur(120px)) or
  (backdrop-filter: blur(120px)) {
  .animated-gradient-shadow::before {
    -webkit-backdrop-filter: blur(120px);
    backdrop-filter: blur(120px);
  }
}

@keyframes spinBlob {
  0% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes rotateGradient {
  0% {
    background: conic-gradient(
      from 0deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  0.5% {
    background: conic-gradient(
      from 1.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  1% {
    background: conic-gradient(
      from 3.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  1.5% {
    background: conic-gradient(
      from 5.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  2% {
    background: conic-gradient(
      from 7.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  2.5% {
    background: conic-gradient(
      from 9deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  3% {
    background: conic-gradient(
      from 10.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  3.5% {
    background: conic-gradient(
      from 12.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  4% {
    background: conic-gradient(
      from 14.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  4.5% {
    background: conic-gradient(
      from 16.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  5% {
    background: conic-gradient(
      from 18deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  5.5% {
    background: conic-gradient(
      from 19.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  6% {
    background: conic-gradient(
      from 21.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  6.5% {
    background: conic-gradient(
      from 23.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  7% {
    background: conic-gradient(
      from 25.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  7.5% {
    background: conic-gradient(
      from 27deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  8% {
    background: conic-gradient(
      from 28.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  8.5% {
    background: conic-gradient(
      from 30.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  9% {
    background: conic-gradient(
      from 32.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  9.5% {
    background: conic-gradient(
      from 34.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  10% {
    background: conic-gradient(
      from 36deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  10.5% {
    background: conic-gradient(
      from 37.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  11% {
    background: conic-gradient(
      from 39.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  11.5% {
    background: conic-gradient(
      from 41.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  12% {
    background: conic-gradient(
      from 43.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  12.5% {
    background: conic-gradient(
      from 45deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  13% {
    background: conic-gradient(
      from 46.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  13.5% {
    background: conic-gradient(
      from 48.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  14% {
    background: conic-gradient(
      from 50.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  14.5% {
    background: conic-gradient(
      from 52.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  15% {
    background: conic-gradient(
      from 54deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  15.5% {
    background: conic-gradient(
      from 55.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  16% {
    background: conic-gradient(
      from 57.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  16.5% {
    background: conic-gradient(
      from 59.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  17% {
    background: conic-gradient(
      from 61.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  17.5% {
    background: conic-gradient(
      from 63deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  18% {
    background: conic-gradient(
      from 64.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  18.5% {
    background: conic-gradient(
      from 66.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  19% {
    background: conic-gradient(
      from 68.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  19.5% {
    background: conic-gradient(
      from 70.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  20% {
    background: conic-gradient(
      from 72deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  20.5% {
    background: conic-gradient(
      from 73.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  21% {
    background: conic-gradient(
      from 75.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  21.5% {
    background: conic-gradient(
      from 77.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  22% {
    background: conic-gradient(
      from 79.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  22.5% {
    background: conic-gradient(
      from 81deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  23% {
    background: conic-gradient(
      from 82.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  23.5% {
    background: conic-gradient(
      from 84.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  24% {
    background: conic-gradient(
      from 86.4deg,
      #42dcff 0deg 90deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  24.5% {
    background: conic-gradient(
      from 88.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  25% {
    background: conic-gradient(
      from 90deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  25.5% {
    background: conic-gradient(
      from 91.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  26% {
    background: conic-gradient(
      from 93.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  26.5% {
    background: conic-gradient(
      from 95.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  27% {
    background: conic-gradient(
      from 97.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  27.5% {
    background: conic-gradient(
      from 99deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  28% {
    background: conic-gradient(
      from 100.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  28.5% {
    background: conic-gradient(
      from 102.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  29% {
    background: conic-gradient(
      from 104.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  29.5% {
    background: conic-gradient(
      from 106.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  30% {
    background: conic-gradient(
      from 108deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  30.5% {
    background: conic-gradient(
      from 109.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  31% {
    background: conic-gradient(
      from 111.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  31.5% {
    background: conic-gradient(
      from 113.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  32% {
    background: conic-gradient(
      from 115.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  32.5% {
    background: conic-gradient(
      from 117deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  33% {
    background: conic-gradient(
      from 118.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  33.5% {
    background: conic-gradient(
      from 120.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  34% {
    background: conic-gradient(
      from 122.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  34.5% {
    background: conic-gradient(
      from 124.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  35% {
    background: conic-gradient(
      from 126deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  35.5% {
    background: conic-gradient(
      from 127.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  36% {
    background: conic-gradient(
      from 129.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  36.5% {
    background: conic-gradient(
      from 131.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  37% {
    background: conic-gradient(
      from 133.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  37.5% {
    background: conic-gradient(
      from 135deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  38% {
    background: conic-gradient(
      from 136.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  38.5% {
    background: conic-gradient(
      from 138.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  39% {
    background: conic-gradient(
      from 140.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  39.5% {
    background: conic-gradient(
      from 142.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  40% {
    background: conic-gradient(
      from 144deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  40.5% {
    background: conic-gradient(
      from 145.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  41% {
    background: conic-gradient(
      from 147.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  41.5% {
    background: conic-gradient(
      from 149.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  42% {
    background: conic-gradient(
      from 151.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  42.5% {
    background: conic-gradient(
      from 153deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  43% {
    background: conic-gradient(
      from 154.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  43.5% {
    background: conic-gradient(
      from 156.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  44% {
    background: conic-gradient(
      from 158.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  44.5% {
    background: conic-gradient(
      from 160.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  45% {
    background: conic-gradient(
      from 162deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  45.5% {
    background: conic-gradient(
      from 163.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  46% {
    background: conic-gradient(
      from 165.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  46.5% {
    background: conic-gradient(
      from 167.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  47% {
    background: conic-gradient(
      from 169.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  47.5% {
    background: conic-gradient(
      from 171deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  48% {
    background: conic-gradient(
      from 172.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  48.5% {
    background: conic-gradient(
      from 174.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  49% {
    background: conic-gradient(
      from 176.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  49.5% {
    background: conic-gradient(
      from 178.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  50% {
    background: conic-gradient(
      from 180deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  50.5% {
    background: conic-gradient(
      from 181.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  51% {
    background: conic-gradient(
      from 183.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  51.5% {
    background: conic-gradient(
      from 185.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  52% {
    background: conic-gradient(
      from 187.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  52.5% {
    background: conic-gradient(
      from 189deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  53% {
    background: conic-gradient(
      from 190.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  53.5% {
    background: conic-gradient(
      from 192.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  54% {
    background: conic-gradient(
      from 194.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  54.5% {
    background: conic-gradient(
      from 196.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  55% {
    background: conic-gradient(
      from 198deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  55.5% {
    background: conic-gradient(
      from 199.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  56% {
    background: conic-gradient(
      from 201.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  56.5% {
    background: conic-gradient(
      from 203.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  57% {
    background: conic-gradient(
      from 205.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  57.5% {
    background: conic-gradient(
      from 207deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  58% {
    background: conic-gradient(
      from 208.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  58.5% {
    background: conic-gradient(
      from 210.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  59% {
    background: conic-gradient(
      from 212.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  59.5% {
    background: conic-gradient(
      from 214.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  60% {
    background: conic-gradient(
      from 216deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  60.5% {
    background: conic-gradient(
      from 217.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  61% {
    background: conic-gradient(
      from 219.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  61.5% {
    background: conic-gradient(
      from 221.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  62% {
    background: conic-gradient(
      from 223.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  62.5% {
    background: conic-gradient(
      from 225deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  63% {
    background: conic-gradient(
      from 226.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  63.5% {
    background: conic-gradient(
      from 228.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  64% {
    background: conic-gradient(
      from 230.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  64.5% {
    background: conic-gradient(
      from 232.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  65% {
    background: conic-gradient(
      from 234deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  65.5% {
    background: conic-gradient(
      from 235.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  66% {
    background: conic-gradient(
      from 237.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  66.5% {
    background: conic-gradient(
      from 239.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  67% {
    background: conic-gradient(
      from 241.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  67.5% {
    background: conic-gradient(
      from 243deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  68% {
    background: conic-gradient(
      from 244.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  68.5% {
    background: conic-gradient(
      from 246.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  69% {
    background: conic-gradient(
      from 248.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  69.5% {
    background: conic-gradient(
      from 250.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  70% {
    background: conic-gradient(
      from 252deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  70.5% {
    background: conic-gradient(
      from 253.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  71% {
    background: conic-gradient(
      from 255.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  71.5% {
    background: conic-gradient(
      from 257.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  72% {
    background: conic-gradient(
      from 259.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  72.5% {
    background: conic-gradient(
      from 261deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  73% {
    background: conic-gradient(
      from 262.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  73.5% {
    background: conic-gradient(
      from 264.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  74% {
    background: conic-gradient(
      from 266.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  74.5% {
    background: conic-gradient(
      from 268.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  75% {
    background: conic-gradient(
      from 270deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  75.5% {
    background: conic-gradient(
      from 271.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  76% {
    background: conic-gradient(
      from 273.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  76.5% {
    background: conic-gradient(
      from 275.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  77% {
    background: conic-gradient(
      from 277.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  77.5% {
    background: conic-gradient(
      from 279deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  78% {
    background: conic-gradient(
      from 280.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  78.5% {
    background: conic-gradient(
      from 282.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  79% {
    background: conic-gradient(
      from 284.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  79.5% {
    background: conic-gradient(
      from 286.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  80% {
    background: conic-gradient(
      from 288deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  80.5% {
    background: conic-gradient(
      from 289.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  81% {
    background: conic-gradient(
      from 291.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  81.5% {
    background: conic-gradient(
      from 293.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  82% {
    background: conic-gradient(
      from 295.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  82.5% {
    background: conic-gradient(
      from 297deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  83% {
    background: conic-gradient(
      from 298.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  83.5% {
    background: conic-gradient(
      from 300.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  84% {
    background: conic-gradient(
      from 302.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  84.5% {
    background: conic-gradient(
      from 304.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  85% {
    background: conic-gradient(
      from 306deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  85.5% {
    background: conic-gradient(
      from 307.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  86% {
    background: conic-gradient(
      from 309.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  86.5% {
    background: conic-gradient(
      from 311.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  87% {
    background: conic-gradient(
      from 313.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  87.5% {
    background: conic-gradient(
      from 315deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  88% {
    background: conic-gradient(
      from 316.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  88.5% {
    background: conic-gradient(
      from 318.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  89% {
    background: conic-gradient(
      from 320.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  89.5% {
    background: conic-gradient(
      from 322.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  90% {
    background: conic-gradient(
      from 324deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  90.5% {
    background: conic-gradient(
      from 325.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  91% {
    background: conic-gradient(
      from 327.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  91.5% {
    background: conic-gradient(
      from 329.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  92% {
    background: conic-gradient(
      from 331.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  92.5% {
    background: conic-gradient(
      from 333deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  93% {
    background: conic-gradient(
      from 334.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  93.5% {
    background: conic-gradient(
      from 336.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  94% {
    background: conic-gradient(
      from 338.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  94.5% {
    background: conic-gradient(
      from 340.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  95% {
    background: conic-gradient(
      from 342deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  95.5% {
    background: conic-gradient(
      from 343.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  96% {
    background: conic-gradient(
      from 345.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  96.5% {
    background: conic-gradient(
      from 347.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  97% {
    background: conic-gradient(
      from 349.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  97.5% {
    background: conic-gradient(
      from 351deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  98% {
    background: conic-gradient(
      from 352.8deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  98.5% {
    background: conic-gradient(
      from 354.6deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  99% {
    background: conic-gradient(
      from 356.4deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  99.5% {
    background: conic-gradient(
      from 358.2deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
  100% {
    background: conic-gradient(
      from 360deg,
      #42dcff 0deg 90deg,
      #ff615e 90deg 180deg,
      #ffb236 180deg 270deg,
      #fe43aa 270deg 360deg
    );
  }
}
