@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ecl-heading{
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  color: #fff; 
  text-align: center;
}

.ecl-sub-heading{
  font-weight: 400;
  font-size: 35px;
  line-height: 53px;
  color: #fff; 
  text-align: center;
}

.ecl-card-text{
  font-weight: 400;
  font-size:40px;
  line-height: 53px;  
}

 

.slider {
  display: flex;
  gap: 10px;
  width: 80%;
  overflow: hidden;
}

.slide {
  flex: 1;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.slide p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 1rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.slide:not(.active) {
  flex: 0.5;
  filter: grayscale(100%);
}

.slide.active {
  flex: 2;
  filter: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
