@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Neue Lt Std";
  src: url("/fonts/HelveticaNeueLtStd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
}
body {
  font-family: "Open Sans", serif;
  font-family: "Helvetica Neue Lt Std", sans-serif;
  position: relative;
  /* overflow-x: hidden; */
  @apply bg-[#000000] text-white;
}

.marquee-scroll-animation {
  animation: scroll 35s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-33.33% - 5px));
  }
}
.image-color-overlay {
  filter: brightness(0) saturate(100%) sepia(100%) hue-rotate(190deg)
    brightness(50%);
  mix-blend-mode: multiply;
}
.div-bg-gradient {
  background: linear-gradient(
    90deg,
    #58beff 0%,
    #bb4eee 28.76%,
    #fe4996 64.51%,
    #fea042 100%
  );
}

.gradient-heading {
  background: linear-gradient(
    90deg,
    #4395be 0%,
    #b650ef 29%,
    #f948a3 62%,
    #fe9748 100%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientMove 5s ease-in-out infinite;
}

@keyframes gradientFade {
  0%,
  100% {
    opacity: 0.6;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-bg-div {
  background: linear-gradient(
    269.08deg,
    #fe9748 2.58%,
    #fe489e 21.41%,
    #a952fe 67.8%,
    #4ecbff 99.21%
  );
  background-size: 200% 200%;
  animation: gradientShift 6s ease-in-out infinite;
}

.gradient-hover-effect {
  position: relative;
  background: linear-gradient(
    269.08deg,
    #fe9748 2.58%,
    #fe489e 21.41%,
    #a952fe 67.8%,
    #4ecbff 99.21%
  );
  /* padding: 20px; */
  transition: all 0.3s ease-in-out;
}

.gradient-hover-effect::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: inherit;
  background: linear-gradient(
    269.08deg,
    #fe9748 2.58%,
    #fe489e 21.41%,
    #a952fe 67.8%,
    #4ecbff 99.21%
  );
  filter: blur(40px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.gradient-hover-effect:hover::before {
  opacity: 1;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: floatAnimation 2s ease-in-out infinite;
}

.ecl-heading {
  font-weight: 600;
  font-size: 30px;
  line-height: 59px;
  color: #fff;
  text-align: center;
}

.ecl-sub-heading {
  font-weight: 400;
  font-size: 25px;
  line-height: 53px;
  color: #fff;
  text-align: center;
}

.ecl-card-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 53px;
}

.slider {
  display: flex;
  gap: 10px;
  width: 80%;
  overflow: hidden;
}

.slide {
  flex: 1;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.slide p {
  position: absolute;
  bottom: 10px;
  left: 5px;
  color: white;
  font-size: 1rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.slide:not(.active) {
  flex: 0.5;
  filter: grayscale(100%);
}

.slide.active {
  flex: 2;
  filter: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gradient-hover-effect-background {
  position: relative;
  /* padding: 20px; */
  transition: all 0.3s ease-in-out;
}

.gradient-hover-effect-background::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: inherit;
  background: linear-gradient(
    269.08deg,
    #fe9748 2.58%,
    #fe489e 21.41%,
    #a952fe 67.8%,
    #4ecbff 99.21%
  );
  background-size: 300% 300%; /* Key addition */
  filter: blur(150px);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
  animation: rotateGradient 5s ease-in-out infinite;
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
    transform: rotate(0deg) translateX(15px) rotate(0deg);
  }
  25% {
    background-position: 50% 100%;
    transform: rotate(90deg) translateX(15px) rotate(-90deg);
  }
  50% {
    background-position: 100% 50%;
    transform: rotate(180deg) translateX(15px) rotate(-180deg);
  }
  75% {
    background-position: 50% 0%;
    transform: rotate(270deg) translateX(15px) rotate(-270deg);
  }
  100% {
    background-position: 0% 50%;
    transform: rotate(360deg) translateX(15px) rotate(-360deg);
  }
}
